*{
    margin: 0;
    padding: 0;
    border: none;
}

body{
    font-family: Lato, sans-serif;
    font-weight: 300;
    background-color: #321f28;
    color: #e79e47;
}

/* header + nav bar */

header a {
    text-decoration: none;
    color: #fff;
}

h1 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFC23C;
    font-weight: lighter;
}

#logo{
     font-size: 300%;
     text-align: center;
     line-height: 75px;
}

hr {
    border-top: 1px solid #fff;
    width: 50%;
    margin: 0 auto;
}

#menu {
    font-size: 150%;
    text-align: center;
    letter-spacing: 4px;
    line-height: 50px;
}

#menu li {
    display:inline-block;
    margin-right: 30px;
}

#menu a:hover{
    border-bottom: 1px solid #fff;
}

.active{
    border-bottom: 1px solid #fff;
}

/* hero image */

#hero_outer{
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero_image{
    height: 600px;
    width: 80%;
    background: url('../images/hero_image_my_website.jpg') no-repeat center center;
    margin: 0 auto;
}

#email_request {
    font-size: 80%;
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 300px;
    height: 40px;

    padding-top: 15px;
    padding-left: 10px;
    text-align: center;

    background-color: rgba(0, 0, 0, .6);

    bottom: 60px;
    right: 40%;

    position: absolute;

    border-radius: 10px;
}

#email_request a {
    color:#e79e47;
    text-decoration: none;
    opacity: 0.6;   
}

#email_request a:hover{
    opacity: 1;   
}

/* about us */

.about_us  {
    text-align: center;
    padding-top: 50px;
    color: inherit;
    letter-spacing: 4px; 
    line-height: 25px;
    
 }

.about_us p {
    margin-top: 10px;
    
}

#welcome {
    font-size: 200%;
    text-transform: uppercase;
    color:#fff;
    letter-spacing: 2px;
    font-weight: lighter;
    justify-content: center;
    padding-bottom: 20px;
}

#more_us a { 
    background-color: rgba(0, 0, 0, .6);
    color: inherit;
    padding: 2px 5px;
    border-radius: 5px;
    line-height: 50px;

}

/* on site services that are availble */ 

#services {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: 3fr 3fr ;
  }     

  .four-boxes {
    padding: 100px 0;
    text-align: center;
 }

 .four-boxes h2 {
    font-weight: lighter;
    color: #fff;

 }
  .event {
     background: url('../images/live_concert.jpg')no-repeat center center;
     height: 100%;
     width: 100%;
  }
  .wedding {
    background: url('../images/wedding_photo.jpg') no-repeat center center;
    height: 100%;
     width: 100%;
  }
  .outdoor {
   background: url('../images/outdoor_photo.jpg') no-repeat center center;;
  }
  .studio {
    background: url('../images/studio_photo.jpg') no-repeat center center;
  }

  /* Footer*/

footer{
    height: 150px;
}

.social_networks {
    text-align: center;
}

.social_networks li {
    display: inline;
}

.social_networks i {
    font-size: 150%;
    padding: 1%;
    color: #e79e47;
}

/* Form */

input{
    color: #e79e47;
}

textarea{
    color: #e79e47;
}

  .box{
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 5%;
    opacity: 0.8;
    padding: 15px;
    border-radius: 15px;  
    color: #fff;
    }

    legend{
        text-transform: uppercase;
        text-decoration: underline overline;
        text-align: center;
        padding: 10px;
        opacity: 1;
    }

    .inputBox{
        position: relative;
        color: #e79e47;
        text-align: center;
    }
    .inputuser{
        background: none;
        border: none;
        border-bottom: 1px solid #e79e47;
        width: 100%;
        letter-spacing: 2px;   
        opacity: 0.6;     
    }

    .bottom{
        background-color: #321f28;
        color: #e79e47;
        border: 1px solid #e79e47;
        border-radius: 10px;
        padding: 5px;
    }

    /* Galley */

    #gallery {
        clear: both;
        line-height: 0;
        columns: 3;
        column-gap: 0;
        width: 80%;
        margin: 0 auto;
    }
    
    #gallery > img {
        width: 100%;
    }

    /* About Us */

    #article_contant {
        text-align: center;
    }

    #article_contant h2 {
        font-size: 150%;
        letter-spacing: 2px;
    }

    #article_contant p {
         letter-spacing: 4px;
         width: 50%;
         margin: 0 auto;         
    }

    #article_contant > img {
        height: 400px;
        width: 550px;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    /* media queries */

@media screen and (max-width: 1200px) {
    #services {
        width: 90%;
    }
}

@media screen and (max-width: 950px){
    
    #services {
        grid-template-columns: 3fr ;
      }     
    }

@media  (max-width: 768px) {

    #email_request{
        right: 25%;
    }
    .box{
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        margin-top: 5%;
        }
        #gallery {
            columns: 2;            
            width: 90%;           
        }
}







